@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

* {
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

body {
    background-color: #FFFFF0;
    background-image: url(noise.png);
    background-attachment: fixed;
    color: gray;
    font-family: 'Oswald', sans-serif;
    font-size: 25pt;
    font-weight: 300;
    height: 100%;
}

div#concerts-container {
    margin-top: 110px;
}

footer {
    position: relative;
    right: 0;
    font-size: 16pt;
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: right;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    background-color: black;
    color: #F5F5F5;
    width: 100%;
    text-align: center;
    box-shadow: black 0 5px 8px;
    overflow: hidden;
}

p.hanging-indent {
    text-indent: -25px;
    padding-left: 25px;
}

abbr.dtstart, span.artist, span.location, span.adr {
    color: black;
    font-weight: 400;
    font-size: 30pt;
    text-shadow: gray 2px 2px 3px;
}

span.artist, span.location {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

abbr.dtstart {
    margin-right: 0.2em;
}

span.adr {
    margin-left: 0.2em;
}

ul {
    margin: 1em;
    list-style: none;
}

li {
    margin-top: 0.75em;
}

li:first {
    margin-top: 0;
}

.vevent abbr {
    border: 0;
}
